html, body {
    position: relative;
    padding: 0;
    margin: 0;
}

.main-wrap {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.promo-block {
    position: relative;
    display: flex;
    min-height: 250px;

    &_blue {
        background-color: #0075ff;
    }

    &_white {
        background-color: #fff;
    }
    
    &_yellow {
        background-color: #fddd37;
    }
}