doctype html
html
    head
        title tap.az - бесплатные объявления
        link(rel="stylesheet", href="css/layout.css")
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
    body
        .main-wrap
            section.main-block
                .main-block__content
                    .main-block__header
                        img.main-block__logo(src="img/logo-white.svg")
                        a.main-block__link(href="#") azərbaycanca
                    .main-block__body
                        .main-block__column
                            .main-block__title Продавайте через магазины Tap.az
                            .main-block__description Почему это выгодно и удобно — рассказываем на примере кругосветного путешествия
                            button.button Создать магазин
                        .main-block__column
                            img.main-block__image(src="img/rocket.png")
            section.promo-block
                .promo-block__content
                    .promo-block__title Tap.az для малого бизнеса:
                    .promo-block__body
                        .promo-card
                            .promo-card__icon.promo-card__icon--gift
                            .promo-card__title Пакет платных услуг в подарок
                            .promo-card__description Вы получите кешбэк в виде пакета услуг VIP и Премиум
                        .promo-card
                            .promo-card__icon.promo-card__icon--flyer
                            .promo-card__title Брендированная страница
                            .promo-card__description Оформите страницу фирменной айдентикой. Станьте узнаваемым. 
                        .promo-card
                            .promo-card__icon.promo-card__icon--advisor
                            .promo-card__title Личный консультант
                            .promo-card__description Никаких очередей — все вопросы решит консультант.
                        .promo-card
                            .promo-card__icon.promo-card__icon--mobile
                            .promo-card__title Полностью мобильный магазин
                            .promo-card__description Личная страница, товары и услуги доступны прямо в телефоне. 
                        .promo-card
                            .promo-card__icon.promo-card__icon--medal
                            .promo-card__title Премиальные позиции на сайте
                            .promo-card__description Отображение магазина и товаров в топе на главной странице сайта.
            section.products-block
                .products-block__content
                    .products-block__top
                        img.products-block__fill(src="img/fill.png")
                    .products-block__body
                        img.products-block__image(src="img/notebook.png")
                        .products-block__title Все товары на фирменной странице  магазина
            section.contacts-block
                .contacts-block__content
                    .contacts-block__body
                        .contacts-block__title C магазином на Tap.az продавать удобно!
                        .contacts-block__form
                            .contacts-block__description Оставьте свои контакты и мы с Вами свяжемся.
                            .contacts-block__inputs
                                input.contacts-block__field(placeholder="Имя")
                                input.contacts-block__field(placeholder="Контактный номер")
                                button.button.button--mod Подать заявку
            section.footer-block
                .footer-block__content
                    .footer-block__body
                        img.footer-block__logo(src="img/logo-gray.svg")
                        a.footer-block__link О нас
                        a.footer-block__link Реклама на сайте
                        a.footer-block__link Пользовательское соглашение
                        .social-button
                            .social-button__icon.social-button__icon--facebook
                            .social-button__icon.social-button__icon--twitter
                            .social-button__icon.social-button__icon--linkedin
                            .social-button__icon.social-button__icon--pinterest